/* Fonts for the website */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* Default styling for all pages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

header {
  padding: 20px;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  font-size: 20px;
  transform: translateY(-200%);
  animation: drop-down 1s ease-in-out forwards;
  background-color: transparent;
  position: fixed;
}

@keyframes drop-down {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-flex;
  background-color: transparent;
  border-radius: 10px;
  margin-right: 15px;
  height: 5vh;
  width: 5vw;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

nav ul li:hover{
  background-color: rgb(255, 255, 255);
}

nav ul li:hover a{
  color: black;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s;
}

.selected{
  background-color: white;
}

.selected a{
  color: black;
}

section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 35px;
  margin-top: 20px;
  opacity: 0;
  animation: drop-down-title 1s ease-in-out forwards;
}

@keyframes drop-down-title {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

h2, p{
    opacity: 0;
    animation: fade-in-text 1.5s ease-in-out forwards;
}

#about p, #skills p {
  width: 30vw;
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#title {
  margin-top: 15vh;
  text-align: center;
  font-size: 70px;
}

/* Styling for the contact section */
#contact {
    padding: 50px;
  }
  
  #contact h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  
  #contact ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  #contact li {
    margin-right: 10px;
  }
  
  #contact li:last-child {
    margin-right: 0;
  }
  
  #contact a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  #contact a:hover {
    background-color: #888;
  }

  .projects-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-intro h1{
    font-size: 70px;
    margin-top: 15vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
  }

  .picture {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 10px;
  }

  .picture img {
      margin-right: 10px;
  }

  .text {
    margin-left: 10%;
      font-size: 16px;
  }

@media only screen and (max-width: 480px) {
  #about p, #skills p {
      width: 90vw;
      font-size: 13px;
  }

  #title{
    margin-top: 5vh;
    font-size: 45px;
  }

  nav {
    font-size: 13px;
  }

  nav ul li{
    width: 15vw;
  }
}